<head>
    <style>
        footer { 
            position: left; 
            clear: both; 
            color: #ffffff; 
            background-color: rgb(75, 75, 75); 
            text-align:center; 
            height: 90px;	 
            line-height: 18px; 
            font-size: 80%; 
            margin-left:-100%; 
            margin-right:-100%; 
        }  
        a:link {
            color: orange;
            background-color: transparent;
            text-decoration: none;
        }

    </style>
    <p><b> Please input a subject:</b></p> 
</head>

<form action="/data/" method = "POST">
    <p>Index <input type = "text" name = "Index" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
  
<footer>
    <p>Author: Daniel Qian</p>
    <p>Email: <a href="mailto:danielq3@illinois.edu">danielq3@illinois.edu</a></p>
    <p>University of Illinois at Urbana Champaign</p>
</footer>
  